.socials-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.socials-item :not(:last child) {
  margin-right: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials-icon use {
  fill: #afb1b8;
  transition: fill 250ms linear;
  .socials-link:hover &,
  .socials-link:focus & {
    fill: var(--secondary-text-color);
  }
}
